body{
    margin: 0;
    padding: 0;
    background-color:white;
    background-size: cover;
    background-position: center;
}
 
.container{
    width: 400px;
    height: 600px;
    border: 1px solid black;
    background: white;
    color:black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
 
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
 
.content{
    border-bottom: 2px solid #adadad;
    position : relative; 
    margin : 30px 0;   
}
 
.content input{
    font-size : 15px; 
    color : gray;
    width : 100%;
    border : none; 
    padding : 0 5px; 
    height : 40px; 
    outline : none;   
}
 
.container input[type="submit"]{
    width :100%;
    height : 60px; 
    border : none; 
    background-color: lightslategrey;
    border-radius : 5px;
    color :white; 
    outline : none ;
}

.container input[type="submit"]:hover{
    cursor: pointer;
    background: lightgray;
    color: black;
}
